.main{
    border-top: 3px solid rgb(95, 187, 234);
    /*height: 400px;*/
    background-color: #3c5a7f;
}
.header{
	padding-top: 30px;
}
.header h2{
	color: white;
	font-weight: bold;
}
.navbar-default{
	background-color: transparent !important;
	border: none ! important;
}
.navbar-default li a{
	color:rgb(212, 230, 255)!important;
	font-weight: bold;
}
.navbar-default li a:hover{
	color: white !important;
	rgb(212, 230, 255)
}
.navbar-default .btn-default{
	background-color: #5A7FA5;
	border: none;
	color: white;
	margin-top: 15px;
	font-weight: bold;
}
.navbar-default .btn-default:hover{
	background-color: #55779B!important;
	color: white !important;
}
.navbar-nav{
	padding-top: 15px;
}
.mid-content{
	text-align: center;
	color: rgb(255, 255, 255);
}
.mid-content p{
	font-size: 21px !important;	
}

.signup .btn-default{
	text-align: center;
	background-color: rgb(10,162,7);
	border: none;
	color: white;
	font-weight: bold;
	height: 55px;
	width: 120px;
}
.signup .btn-default{
	background-color: rgb(11,164,37)!important;
	color: white !important;
}
.signup {
	margin-bottom: 60px;
}
.divider-or{
	color: white;
}
.link{
	color: white;
	font-size: 18px;
	padding-top: 15px !important;
	text-decoration: none;
}
.link:hover{
	color: white !important;
	text-decoration: underline;
}
.how{
	text-align: center;
	padding-top: 50px;
}
.how .label{
	display: inline;
	padding: .2em .6em .3em;
	font-size: 17px;
	font-weight: 700;
	color: #3c5a7f;
	text-align: center;
	margin-bottom: 30px;
}
.how .mid-title{
	color: #2B333F;
	font-weight: 300;
	font-size: 36px;
	display: block;
	margin-bottom: 65px;
}
.how img{
	width:60%;
}
.how h4{
	font-weight: 300;
	font-size: 30px;
	color: #2A6AA1;
	margin: 0 0 17px;
	text-align: left;
}
.how p{
    color: rgb(43, 51, 63);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}